{% extends "../common/layout.html" %} 
{% block body %}
<div class="container wraper">
    <h1>{{content}}</h1>
    <form action="/login" method="post">
        <div>
            <label>Name:</label>
            <input type="text" name="name" placeholder="name">
            <div>Use name: brucecham</div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Password">
            <div>Use password: 123456</div>
        </div>
        <button type="submit">Sign In</button>
    </form>
</div>
{% endblock %}