*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 14px;
  color: #000;
  background: #fff;
}

a {
  color: #0366d6;
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
}

.header{
  width: 100%;
  background-color: #48a63e;
}

.header-box{
  height: 88px;
  line-height: 88px;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 2px;
}

.header-box>.logo{
  letter-spacing: 0;
  font-size: 20px;
}

.wraper{
  width: 1200px;
  margin: 0 auto;
}

.container{
  min-height: 500px;
  padding: 80px 0;
}

.footer{
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 16px;
}

.footer-box{

}
